Repository nirabo/python-c-api-example: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-c-extension-build, run-basic-tests, check-makefile

Path conditions:
  check-c-extension-build: any of: \.(c|h)$|setup\.py$
  run-basic-tests: any of: \.py$
  check-makefile: any of: ^Makefile$

Streamline Makefile and ensure container-based operations
  .pre-commit-config.yaml
  Makefile
  README.md
Due: check-makefile

Fix markdownlint issues and improve pre-commit test hook
  .pre-commit-config.yaml
  Dockerfile
  README.md
  docker-compose.yml
Due: none

Update pre-commit hook versions for improved linting and formatting
  .pre-commit-config.yaml
Due: none

Optimize Dockerfile with multi-stage builds and fix pre-commit test hook
  .pre-commit-config.yaml
  Dockerfile
Due: none

Add comprehensive GitHub Actions CI/CD pipeline with enterprise-grade workflows
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/dependabot.yml
  .github/pull_request_template.md
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .gitignore
  Dockerfile
  Makefile
  docs/api.md
  docs/index.md
Due: check-makefile

Add comprehensive Python 2.7 C-API tutorial with 100% test coverage
  CLAUDE.md
  Dockerfile
  Makefile
  setup.py
  src/README.md
  src/advanced_module.c
  src/basics_module.c
  src/exceptions_module.c
  src/memory_module.c
  src/objects_module.c
  tests/README.md
  tests/run_all_tests.py
  tests/test_advanced_module.py
  tests/test_basics_module.py
  tests/test_exceptions_module.py
  tests/test_memory_module.py
  tests/test_objects_module.py
Due: check-c-extension-build, run-basic-tests, check-makefile

Update README.md and organize utility scripts into scripts/ folder
  Makefile
  README.md
  scripts/build.sh
  scripts/test_import.py
Due: run-basic-tests, check-makefile

Fix CodeQL workflow: use docker compose for consistent build environment
  .github/workflows/codeql.yml
Due: none
